
html {
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    background-color: #eae9e9;
}
 
/* header section */

header {
    position: fixed;
    z-index: 100;
    height: 6rem;
    width: 100%;
    border-bottom: solid 1.5px #627da8;
    background-color: white;
    top: 0;
}
  
header img {
    float: inline-start;
    width: 450px;
    height: 5rem;
    background: #555;
}

header nav ul {
    float: inline-end;
    display: flex;
    list-style: none;
    margin-right: 3rem;
}
  
nav li {
    padding-top: 2rem;
    padding-left: 1.8rem;
}
  
nav a {
    vertical-align: bottom;
    line-height: 1.4;
    font-size: 1.8rem;
    color: #3c3c3c;
    text-decoration: none;
}

@media only screen and (min-width: 800px) and (max-width: 1200px) {
    header {
        position: fixed;
        z-index: 100;
        height: 4rem;
        width: 100%;
        border-bottom: solid 1.5px #627da8;
        background-color: white;
        top: 0;
    }
      
    header img {
        float: inline-start;
        width: 350px;
        height: 3.5rem;
        background: #555;
        
    }
    
    header nav ul {
        float: inline-end;
        display: flex;
        list-style: none;
        margin-right: 2rem;
        margin-bottom: 1rem;
    }
      
    nav li {
        padding-top: 0.2rem;
        padding-left: 1.3rem;
    }
      
    nav a {
        vertical-align: bottom;
        line-height: 1.4;
        font-size: 1.2rem;
        color: #3c3c3c;
        text-decoration: none;
    }

}

@media only screen and (max-width: 800px) {
    header {
        position: fixed;
        z-index: 100;
        height: 3rem;
        width: 100%;
        border-bottom: solid 1.5px #627da8;
        background-color: white;
        top: 0;
    }
      
    header img {
        float: inline-start;
        width: 250px;
        height: 3rem;
        background: #555;
        
    }
    
    header nav ul {
        float: inline-end;
        display: flex;
        list-style: none;
        margin-right: 2rem;
        margin-bottom: 1rem;
    }
      
    nav li {
        padding-top: 0.2rem;
        padding-left: 0.6rem;
    }
      
    nav a {
        vertical-align: bottom;
        line-height: 1.4;
        font-size: 0.8rem;
        color: #3c3c3c;
        text-decoration: none;
    }

}
/* mission section */


#mission-section {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    background-image: url('resources/photo-1614200179396-2bdb77ebf81b.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
#mission-cta {
    display: grid;
    width: 400px;
    min-width: 400px;
    grid-template-columns: 1fr;
    opacity: 0.7;
    padding: 0.5rem;
    border: solid 1px #627da8;
    border-radius: 6px;
    background-color: #000000;
    margin-top: 28rem;
    margin-left: 4rem;
    color:aliceblue;
    font-size: 1.2rem;
    margin-bottom: 40px;
}

/* Services Section */

.content h2 {
    text-align: center;
    border: solid 1px #627da8;
    border-radius: 6px;
    background-color: #000;
    grid-template-columns: 1fr;
    opacity: 0.8;
    color:aliceblue;
    font-size: 2rem;
}
.content h3 {
    text-align: center;
    border: solid 1px #627da8;
    border-radius: 6px;
    background-color: #000;
    grid-template-columns: 1fr;
    opacity: 0.8;
    color:aliceblue;
    font-size: 1.2rem;
}

.images-container {   
        display: flex;
        flex-flow: wrap;
        justify-content: center;
        flex-direction: row;
        align-items: stretch;
    }

.image-container img {
        width: 400px;
        height: 400px;
        object-fit:cover; 
        padding: 4px;
}

.images-container h4 {
    font-size: 1.2rem;
    text-align: center;
    background: #627da8;
    color: aliceblue;
}

/* Team Section */
#team-section {
    background-image: url('resources/team background.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 1200px;
}
.team-content h2 {
    text-align: center;
    border: solid 1px #627da8;
    border-radius: 6px;
    background-color: #000;
    grid-template-columns: 1fr;
    opacity: 0.8;
    color:aliceblue;
    font-size: 2rem;
    
}
.team-content h3 {
    text-align: center;
    border: solid 1px #627da8;
    border-radius: 6px;
    background-color: #000;
    grid-template-columns: 1fr;
    opacity: 0.8;
    color:aliceblue;
    font-size: 1.2rem;
}

.team-images-container {   
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    flex-direction: row;
    align-items: stretch;
}

.team-image-container img {
    width: 300px;
    height: 300px;
    object-fit:cover; 
    padding: 6px;
}

.team-images-container h4 {
    font-size: 1.1rem;
    margin-left: 1rem;
    text-align: center;
    background: #627da8;
    color: aliceblue;
    border: solid 1px #627da8;
    border-radius: 4px;
}
.team-images-container h3 {
    font-size: 1.2rem;
    margin-left: 1rem;
    text-align: center;
    background: #627da8;
    color: aliceblue;
    border: solid 1px #627da8;
    border-radius: 4px;
}

/* Contact Section */

.contact-content h2 {
    text-align: center;
    border: solid 1px #627da8;
    border-radius: 6px;
    background-color: #000;
    grid-template-columns: 1fr;
    opacity: 0.8;
    color:aliceblue;
    font-size: 2rem;
}
.contact-content h3 {
    text-align: center;
    border: solid 1px #627da8;
    border-radius: 6px;
    background-color: #000;
    grid-template-columns: 1fr;
    opacity: 0.8;
    color:aliceblue;
    font-size: 1.2rem;  
}

.contact-content h4 {
    text-align: center;
    font-size: 1.2rem;
    
}


/* footer section */

footer {
    font-size: 1.2rem;
    padding: 1.5rem;
}
footer .copyright {
    flex-grow: 1;
  }